@import url('https://fonts.googleapis.com/css2?family=Roboto &display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.color-container{
  width: 90%;
  margin: auto;
}

.color-container div{
  float: left;
  margin: 1px auto;
}

.color{
  height: 120px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}